{% extends 'base.html' %}

{% block content %}

<form method="post" action="{{ url_for('add_reviews') }}">

    <div style="padding-top: 40px" class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Your Comment</span>
        <input type="text" name='text' class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
    </div>

    <button type="submit" class="btn btn-primary">Publish</button>

</form>

{% endblock %}